<%- include('../admin/layouts/admin-header.ejs') %>


  <form class="row g-3" action="/admin/addBanner" method="POST" enctype="multipart/form-data">
    <div class="col-md-6">
      <label for="productName" class="form-label">Banner text</label>
      <input type="text" id="productName" name="bannerText" placeholder="Type here" class="form-control" required>
    </div>
    <div class="mb-3">
      <input class="form-control" type="file" id="" name="image" multiple placeholder="Choose an image" required
        onchange="viewImage(event)">
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Add Banner</button>
    </div>
  </form>



  <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
      For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official
        DataTables documentation</a>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>No</th>
                <th>Banner Text</th>
                <th>controlls</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>No</th>
                <th>Banner Text</th>
                <th>controlls</th>
              </tr>
            </tfoot>
            <tbody>
              <% let count=1 %>
                <% bannerData.forEach(element=> { %>
                  <tr>
                    <td>
                      <%=count %>
                    </td>
                    <td>
                      <%=element.bannerText%>
                    </td>
                    <td> <button type="submit" data-toggle="modal" data-target="#exampleModa-<%=element._id%>%>">
                        Edit
                      </button>

                      <div class="modal fade" id="exampleModa-<%= element._id %>" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                            </div>
                            <form action="/admin/editbanner/<%= element._id %>" method="post">
                              <div class="modal-body">
                                <div class="d-flex justify-content-between">



                                  <div class="d-flex flex-column">
                                    <label>banner Text</label>
                                    <input name="bannerText" required value="<%=element.bannerText%>" class="rounded-2"
                                      style="width: 189px; height: 38px;" type="text">
                                  </div>

                                </div>


                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" id="submit" value="submit" class="btn btn-primary">Submit</button>
                              </div>
                            </form>


                          </div>
                        </div>
                      </div>
        </div>
      </div>
      <!-- Button trigger modal -->
      <!-- Button trigger modal -->
      <% if(element.isDeleted===false) { %>
        <a href="/admin/deleteBanner/<%= element._id %>">
          <button type="button" class="btn btn-danger">Delete</button>
        </a>
        <% }else{ %>
          <a href="/admin/restoreBanner/<%= element._id %>">
            <button type="button" class="btn btn-primary">Restore</button>
          </a>
          <%}%>
            <!-- Modal -->
            <!-- Modal for delete/restore confirmation -->
            <div class="modal fade" id="exampleModal-<%= element._id %>" tabindex="-1"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <% if(element.isDeleted===false) { %>
                    <div class="modal-body">
                      Are you sure you want to delete this banner details?
                    </div>
                    <% } else { %>
                      <div class="modal-body">
                        Are you sure you want to restore banner details?
                      </div>
                      <% } %>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <% if(element.isDeleted===false) { %>
                            <a href="/admin/deleteBanner/<%= element._id %>">
                              <button type="button" class="btn btn-danger">Delete</button>
                            </a>
                            <% } else { %>
                              <a href="/admin/restoreBanner/<%= element._id %>">
                                <button type="button" class="btn btn-primary">Restore</button>
                              </a>
                              <% } %>
                        </div>
                </div>
              </div>
            </div>

            </td>
            </tr>
            <% count++ %>
              <% }) %>


                </tbody>
                </table>
    </div>
  </div>
  </div>

  </div>
  <!-- /.container-fluid -->

  </div>
  <!-- End of Main Content -->

  <!-- Footer -->
  <footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright &copy; Your Website 2020</span>
      </div>
    </div>
  </footer>
  <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>







  <!-- Bootstrap core JavaScript-->
  <script src="/public/startbootstrap-sb-admin-2-gh-pages/vendor/jquery/jquery.min.js"></script>
  <script src="/public/startbootstrap-sb-admin-2-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/public/startbootstrap-sb-admin-2-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/public/startbootstrap-sb-admin-2-gh-pages/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/public/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/public/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/public/startbootstrap-sb-admin-2-gh-pages/js/demo/datatables-demo.js"></script>