<%- include('../user/layouts/user-header.ejs') %>


<div class="row" >
  <% userDatas.addressDetails.forEach(function(user, index) { %>

    <div class="col-md-3  d-flex justify-content-center">
      <div class="card" style="margin: 5px; width: 18rem;  background-color: #c8d7f0;">
        <div class="card-body">
          <h5 class="card-title"><%= user.Fullname %></h5>
          <p class="card-text"><%= user.email %></p>
          <p class="card-text"><%= user.houseaddress %>, <%= user.city %>, <%= user.state %></p>
          <a href="/address-edit?addressId=<%= user._id %>" class="btn btn-primary">Edit</a>
          <a href="/address-delete?id=<%= user._id %>" class="btn btn-primary">Delete</a>
        </div>
      </div>
    </div>

  <% }) %>
</div>
<% userDatas.addressDetails.forEach(function(user) { %>   
<!-- modal -->

<div class="modal fade " id="exampleModal<%= user._id %>" tabindex="-1" aria-labelledby="show-modal1" aria-hidden="true">
  <div class="modal-dialog    ">
    
    <div class="modal-content modal-dialog-centered modal-sm modal-dialog-scrollable">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="show-modal1">Delete Address</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a  class="btn btn-golden" href="">Delete</a>
      </div>
    </div>
  </div>
</div>
<%})%>
  







<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>



<%- include('../user/layouts/user-script.ejs') %>
